<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autobot.res.adc.dao.AppArticleMapper">
	<resultMap id="BaseResultMap" type="com.autobot.res.adc.model.AppArticle">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="app_id" jdbcType="INTEGER" property="appId" />
		<result column="article_id" jdbcType="INTEGER" property="articleId" />
		<result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
		<result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
		<result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
	</resultMap>
	<sql id="Base_Column_List">
		id, app_id, article_id, gmt_create, gmt_modified,
		is_deleted
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from adc_app_article_mapping
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		adc_app_article_mapping
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.autobot.res.adc.model.AppArticle">
		insert into
		adc_app_article_mapping (id, app_id, article_id,
		gmt_create,
		gmt_modified, is_deleted
		)
		values (#{id,jdbcType=INTEGER},
		#{appId,jdbcType=INTEGER},
		#{articleId,jdbcType=INTEGER},
		#{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP},
		#{isDeleted,jdbcType=TINYINT}
		)
	</insert>

	<!-- insert -->
	<insert id="insertSelective" parameterType="com.autobot.res.adc.model.AppArticle"
		useGeneratedKeys="true" keyProperty="id">
		insert into adc_app_article_mapping
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="appId != null">
				app_id,
			</if>
			<if test="articleId != null">
				article_id,
			</if>
			<if test="gmtCreate != null">
				gmt_create,
			</if>
			<if test="gmtModified != null">
				gmt_modified,
			</if>
			<if test="isDeleted != null">
				is_deleted,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="appId != null">
				#{appId,jdbcType=INTEGER},
			</if>
			<if test="articleId != null">
				#{articleId,jdbcType=INTEGER},
			</if>
			<if test="gmtCreate != null">
				#{gmtCreate,jdbcType=TIMESTAMP},
			</if>
			<if test="gmtModified != null">
				#{gmtModified,jdbcType=TIMESTAMP},
			</if>
			<if test="isDeleted != null">
				#{isDeleted,jdbcType=TINYINT},
			</if>
		</trim>
	</insert>
	
	<!-- update -->
	<update id="updateByPrimaryKeySelective" parameterType="com.autobot.res.adc.model.AppArticle">
		update adc_app_article_mapping
		<set>
			<if test="appId != null">
				app_id = #{appId,jdbcType=INTEGER},
			</if>
			<if test="articleId != null">
				article_id = #{articleId,jdbcType=INTEGER},
			</if>
			<if test="gmtCreate != null">
				gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
			</if>
			<if test="gmtModified != null">
				gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
			</if>
			<if test="isDeleted != null">
				is_deleted = #{isDeleted,jdbcType=TINYINT},
			</if>
			gmt_modified = NOW()
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<update id="updateByPrimaryKey" parameterType="com.autobot.res.adc.model.AppArticle">
		update
		adc_app_article_mapping
		set app_id = #{appId,jdbcType=INTEGER},
		article_id = #{articleId,jdbcType=INTEGER},
		gmt_create =
		#{gmtCreate,jdbcType=TIMESTAMP},
		gmt_modified =
		#{gmtModified,jdbcType=TIMESTAMP},
		is_deleted =
		#{isDeleted,jdbcType=TINYINT}
		where id = #{id,jdbcType=INTEGER}
	</update>

	<!-- 手动添加 begin -->


</mapper>