<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autobot.res.adc.dao.CatalogMapper">
	<resultMap id="BaseResultMap" type="com.autobot.res.adc.model.Catalog">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="parent_id" jdbcType="INTEGER" property="parentId" />
		<result column="serve_id" jdbcType="INTEGER" property="serveId" />
		<result column="url" jdbcType="VARCHAR" property="url" />
		<result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
		<result column="name_create" jdbcType="VARCHAR" property="nameCreate" />
		<result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
		<result column="name_modified" jdbcType="VARCHAR" property="nameModified" />
		<result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
	</resultMap>
	<sql id="Base_Column_List">
		id, parent_id, serve_id, url, gmt_create, name_create, gmt_modified,
		name_modified,
		is_deleted
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from adc_catalog
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from adc_catalog
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.autobot.res.adc.model.Catalog">
		insert into adc_catalog (id, parent_id, serve_id,
		url, gmt_create, name_create,
		gmt_modified, name_modified, is_deleted
		)
		values (#{id,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER},
		#{serveId,jdbcType=INTEGER},
		#{url,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{nameCreate,jdbcType=VARCHAR},
		#{gmtModified,jdbcType=TIMESTAMP}, #{nameModified,jdbcType=VARCHAR},
		#{isDeleted,jdbcType=TINYINT}
		)
	</insert>

	<!-- insert -->
	<insert id="insertSelective" parameterType="com.autobot.res.adc.model.Catalog"
		useGeneratedKeys="true" keyProperty="id">
		insert into adc_catalog
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="parentId != null">
				parent_id,
			</if>
			<if test="serveId != null">
				serve_id,
			</if>
			<if test="url != null">
				url,
			</if>
			<if test="gmtCreate != null">
				gmt_create,
			</if>
			<if test="nameCreate != null">
				name_create,
			</if>
			<if test="gmtModified != null">
				gmt_modified,
			</if>
			<if test="nameModified != null">
				name_modified,
			</if>
			<if test="isDeleted != null">
				is_deleted,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="parentId != null">
				#{parentId,jdbcType=INTEGER},
			</if>
			<if test="serveId != null">
				#{serveId,jdbcType=INTEGER},
			</if>
			<if test="url != null">
				#{url,jdbcType=VARCHAR},
			</if>
			<if test="gmtCreate != null">
				#{gmtCreate,jdbcType=TIMESTAMP},
			</if>
			<if test="nameCreate != null">
				#{nameCreate,jdbcType=VARCHAR},
			</if>
			<if test="gmtModified != null">
				#{gmtModified,jdbcType=TIMESTAMP},
			</if>
			<if test="nameModified != null">
				#{nameModified,jdbcType=VARCHAR},
			</if>
			<if test="isDeleted != null">
				#{isDeleted,jdbcType=TINYINT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.autobot.res.adc.model.Catalog">
		update adc_catalog
		<set>
			<if test="parentId != null">
				parent_id = #{parentId,jdbcType=INTEGER},
			</if>
			<if test="serveId != null">
				serve_id = #{serveId,jdbcType=INTEGER},
			</if>
			<if test="url != null">
				url = #{url,jdbcType=VARCHAR},
			</if>
			<if test="gmtCreate != null">
				gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
			</if>
			<if test="nameCreate != null">
				name_create = #{nameCreate,jdbcType=VARCHAR},
			</if>
			<if test="gmtModified != null">
				gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
			</if>
			<if test="nameModified != null">
				name_modified = #{nameModified,jdbcType=VARCHAR},
			</if>
			<if test="isDeleted != null">
				is_deleted = #{isDeleted,jdbcType=TINYINT},
			</if>
			gmt_modified = NOW()
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.autobot.res.adc.model.Catalog">
		update adc_catalog
		set parent_id = #{parentId,jdbcType=INTEGER},
		serve_id = #{serveId,jdbcType=INTEGER},
		url = #{url,jdbcType=VARCHAR},
		gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
		name_create = #{nameCreate,jdbcType=VARCHAR},
		gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
		name_modified = #{nameModified,jdbcType=VARCHAR},
		is_deleted = #{isDeleted,jdbcType=TINYINT}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>