<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autobot.res.adc.dao.TemplateMapper">
	<resultMap id="BaseResultMap" type="com.autobot.res.adc.model.Template">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="template_name" jdbcType="VARCHAR" property="templateName" />
		<result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
		<result column="name_create" jdbcType="VARCHAR" property="nameCreate" />
		<result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
		<result column="name_modified" jdbcType="VARCHAR" property="nameModified" />
		<result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
	</resultMap>
	<resultMap extends="BaseResultMap" id="ResultMapWithBLOBs"
		type="com.autobot.res.adc.model.Template">
		<result column="template_content" jdbcType="LONGVARCHAR"
			property="templateContent" />
	</resultMap>
	<sql id="Base_Column_List">
		id, template_name, gmt_create, name_create, gmt_modified,
		name_modified,
		is_deleted
	</sql>
	<sql id="Blob_Column_List">
		template_content
	</sql>

	<!-- 查详情 -->
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from adc_template
		where is_deleted = 0 and id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		adc_template
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.autobot.res.adc.model.Template">
		insert into adc_template (id,
		template_name, gmt_create,
		name_create, gmt_modified, name_modified,
		is_deleted, template_content)
		values (#{id,jdbcType=INTEGER},
		#{templateName,jdbcType=VARCHAR},
		#{gmtCreate,jdbcType=TIMESTAMP},
		#{nameCreate,jdbcType=VARCHAR}, #{gmtModified,jdbcType=TIMESTAMP},
		#{nameModified,jdbcType=VARCHAR},
		#{isDeleted,jdbcType=TINYINT},
		#{templateContent,jdbcType=LONGVARCHAR})
	</insert>
	
	<!-- insert -->
	<insert id="insertSelective" parameterType="com.autobot.res.adc.model.Template"
		useGeneratedKeys="true" keyProperty="id">
		insert into adc_template
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="templateName != null">
				template_name,
			</if>
			<if test="gmtCreate != null">
				gmt_create,
			</if>
			<if test="nameCreate != null">
				name_create,
			</if>
			<if test="gmtModified != null">
				gmt_modified,
			</if>
			<if test="nameModified != null">
				name_modified,
			</if>
			<if test="isDeleted != null">
				is_deleted,
			</if>
			<if test="templateContent != null">
				template_content,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="templateName != null">
				#{templateName,jdbcType=VARCHAR},
			</if>
			<if test="gmtCreate != null">
				#{gmtCreate,jdbcType=TIMESTAMP},
			</if>
			<if test="nameCreate != null">
				#{nameCreate,jdbcType=VARCHAR},
			</if>
			<if test="gmtModified != null">
				#{gmtModified,jdbcType=TIMESTAMP},
			</if>
			<if test="nameModified != null">
				#{nameModified,jdbcType=VARCHAR},
			</if>
			<if test="isDeleted != null">
				#{isDeleted,jdbcType=TINYINT},
			</if>
			<if test="templateContent != null">
				#{templateContent,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	
	<!-- update -->
	<update id="updateByPrimaryKeySelective" parameterType="com.autobot.res.adc.model.Template">
		update adc_template
		<set>
			<if test="templateName != null">
				template_name = #{templateName,jdbcType=VARCHAR},
			</if>
			<if test="gmtModified != null">
				gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
			</if>
			<if test="nameModified != null">
				name_modified = #{nameModified,jdbcType=VARCHAR},
			</if>
			<if test="templateContent != null">
				template_content =
				#{templateContent,jdbcType=LONGVARCHAR},
			</if>
			gmt_modified = NOW()
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs" parameterType="com.autobot.res.adc.model.Template">
		update
		adc_template
		set template_name = #{templateName,jdbcType=VARCHAR},
		gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
		name_create =
		#{nameCreate,jdbcType=VARCHAR},
		gmt_modified =
		#{gmtModified,jdbcType=TIMESTAMP},
		name_modified =
		#{nameModified,jdbcType=VARCHAR},
		is_deleted =
		#{isDeleted,jdbcType=TINYINT},
		template_content =
		#{templateContent,jdbcType=LONGVARCHAR}
		where id =
		#{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.autobot.res.adc.model.Template">
		update
		adc_template
		set template_name = #{templateName,jdbcType=VARCHAR},
		gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
		name_create =
		#{nameCreate,jdbcType=VARCHAR},
		gmt_modified =
		#{gmtModified,jdbcType=TIMESTAMP},
		name_modified =
		#{nameModified,jdbcType=VARCHAR},
		is_deleted =
		#{isDeleted,jdbcType=TINYINT}
		where id = #{id,jdbcType=INTEGER}
	</update>


	<!-- 手动添加 begin -->

	<!-- 逻辑删除 -->
	<delete id="deleteById" parameterType="java.lang.Integer">
		UPDATE adc_template
		<set>
			gmt_modified = now(),
			is_deleted=1
		</set>
		<where>
			id = #{id,jdbcType=INTEGER}
		</where>
	</delete>

	<!-- 分页 -->
	<select id="listTemplate" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from adc_template
		<where>
			is_deleted = 0
			<if test="query.templateName != null">
				AND template_name = #{query.templateName,jdbcType=VARCHAR}
			</if>
			<if test="query.gmtCreate != null">
				AND gmt_create = #{query.gmtCreate,jdbcType=TIMESTAMP}
			</if>
			<if test="query.nameCreate != null">
				AND name_create = #{query.nameCreate,jdbcType=VARCHAR}
			</if>
			<if test="query.nameModified != null">
				AND name_modified = #{query.nameModified,jdbcType=VARCHAR}
			</if>
			<if test="query.templateContent != null">
				AND template_content =
				#{query.templateContent,jdbcType=LONGVARCHAR}
			</if>
		</where>
		order by gmt_create desc
		<if test="offset!=null and limit!=null ">
			LIMIT #{offset} , #{limit}
		</if>
	</select>

	<!-- 分页 -->
	<select id="count" resultType="java.lang.Integer">
		select
		count(*)
		from adc_template
		<where>
			is_deleted = 0
			<if test="query.templateName != null">
				AND template_name = #{query.templateName,jdbcType=VARCHAR}
			</if>
			<if test="query.gmtCreate != null">
				AND gmt_create = #{query.gmtCreate,jdbcType=TIMESTAMP}
			</if>
			<if test="query.nameCreate != null">
				AND name_create = #{query.nameCreate,jdbcType=VARCHAR}
			</if>
			<if test="query.nameModified != null">
				AND name_modified = #{query.nameModified,jdbcType=VARCHAR}
			</if>
			<if test="query.templateContent != null">
				AND template_content =
				#{query.templateContent,jdbcType=LONGVARCHAR}
			</if>
		</where>
	</select>

</mapper>